
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<!-- masthead 1 line START -->

<table width="750" border="0" cellspacing="0" cellpadding="0">
<tr>
    <td height="5" align="left" valign="top"></td>
  </tr>
  <tr>
    <td align="right" valign="top"><font style="font-family:arial;font-size:12px;color:#767676">${finalName} &nbsp;|&nbsp; </font><a style="font-family:arial;font-size:12px;color:#0096d6;text-decoration:none" href="${url}" target="_blank">web view</a></td>
  </tr>
  <tr>
    <td height="5" align="left" valign="top"></td>
  </tr>
  <tr>
    <td height="1" bgcolor="#000000"></td>
  </tr>
  <tr>
    <td><table width="750" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="30"></td>
        <td width="80" align="left" valign="middle"><a href="" target="_blank"><img src="$announceParameters.get("images.server")/default-announcement-template-1.0.0-img_2.jpg" width="80" height="80" alt="MARG" style="border-style:none"/></a></td>
        <td width="60"></td>
        <td align="left" valign="middle"><table width="475" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="middle"><font style="font-family:arial;font-size:36px;color:#000000;font-weight:bold">RELEASE ANNOUNCEMENT</font></td>
          </tr>
        </table></td>
        <td width="30"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="1" bgcolor="#000000"></td>
  </tr>
</table>

<!-- masthead 1 line END -->

<!-- spotlight START -->

<table width="750" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30"></td>
    <td width="450" align="left" valign="top"><table width="450" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td><font style="font-family:arial;font-size:28px;color:#000000;font-weight:bold;line-height:28px;">${finalName}</font></td>
      </tr>
      <tr>
        <td align="left" valign="top"><font style="font-family:arial;font-size:14px;color:#000000"><p>A new version of the component named above have just been released.
											Use the information at this message to access all relevant information.</p>
											<p>${introduction}</p>
											<p>Enjoy!</p>
											<p>${developmentTeam}</p></font>
											</td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
      <tr>
        <td>
        <table border="0" cellspacing="0" cellpadding="0">
        	<tr>
        		<td>        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
			#set($finalUrlDownload = $urlDownload)
			#set($packageIndex = $urlDownload.lastIndexOf("."))
			#set($substrStart = $packageIndex + 1)
			#set($packaging = $urlDownload.substring($substrStart))
			#if($packaging == "maven-plugin")
				#set($finalUrlDownload = $urlDownload.substring(0, $packageIndex) + ".jar")
			#end
            <td style="background-color:#607D8B; height:40px;">&nbsp;&nbsp;&nbsp;</td>
            <td align="center" valign="middle" bgcolor="#607D8B"><a style="font-family:arial;font-size:18px;color:#FFFFFF;font-weight:bold;text-decoration:none" href="${finalUrlDownload}" target="_blank">Download</a></td>
            <td style="background-color:#607D8B; height:40px;">&nbsp;&nbsp;&nbsp;</td>
          </tr>
        </table>
        		</td>
        		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        		<td>        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color:#607D8B; height:40px;">&nbsp;&nbsp;&nbsp;</td>
            <td align="center" valign="middle" bgcolor="#607D8B"><a style="font-family:arial;font-size:18px;color:#FFFFFF;font-weight:bold;text-decoration:none" href="$announceParameters.get("all.downloads.link")" target="_blank">All Downloads</a></td>
            <td style="background-color:#607D8B; height:40px;">&nbsp;&nbsp;&nbsp;</td>
          </tr>
        </table>
        		</td>
        	</tr>
        </table>
        </td>
      </tr>
      <tr>
        <td height="30"></td>
      </tr>
    </table></td>
    <td width="30"></td>
    <td align="right" valign="top"><a href="" target="_blank"><img src="$announceParameters.get("images.server")/default-announcement-template-1.0.0-package.jpg" width="240" height="205" alt=""  style="display:block;border-style:none;" /></a></td>
  </tr>
  <tr>
    <td colspan="4" height="1" bgcolor="#000000"></td>
  </tr>
</table>


<!-- spotlight END -->

<!-- content no image START -->

<table width="750" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30"></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="650" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="30"></td>
        <td align="left" valign="top"><table width="590" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="121" align="left" valign="top"><a href="" target="_blank"><img src="$announceParameters.get("images.server")/default-announcement-template-1.0.0-task-list.jpg" alt="" width="112" height="112" style="border:4px;border-color:#f0f1f2;border-style:solid"/></a></td>
			<td width="30"></td>
            <td align="left" valign="top"><table width="386" border="0" cellpadding="0" cellspacing="0">
              <tr><td width="386"><font style="font-family:arial;font-size:24px;color:#000000;font-weight:bold">Changes for This Release</font></td>
              </tr>
				<tr>
                <td align="left" valign="top"><font style="font-family:arial;font-size:14px;color:#000000;">See all fixes, enhancements and updates</font><br><br></td>
              </tr>
              <tr>
                <td height="30"><font style="font-family:arial;font-size:14px;color:#000000;">
#if ($release.getActions().size() == 0)
No changes defined in this version.<br><br>
#else
	#if ($release.getActions('add').size() !=0)
<b>New features:</b>
<ul>
		#foreach($actionItem in $release.getActions('add'))
			#set($action=$actionItem.getAction())
			#if ($actionItem.getIssue())
				#set($issue=$actionItem.getIssue())
			#else
				#set($issue="")
			#end
			#if ($actionItem.getDueTo())
				#set($dueto=$actionItem.getDueTo())
			#else
				#set($dueto="")
			#end
<li>#if($!issue != "") <a href="$announceParameters.get("tickets.main.url")/ticket/$issue">$issue</a>#end ${action} #if($!dueto != "")Thanks to $dueto. #end</li>

			#set($issue="")
			#set($dueto="")
		#end 
	#end
</ul>
	#if ($release.getActions('fix').size() !=0)
<b>Fixed Bugs:</b>
<ul>
		#foreach($actionItem in $release.getActions('fix'))
			#set($action=$actionItem.getAction())
			#if ($actionItem.getIssue())
				#set($issue=$actionItem.getIssue())
			#else
				#set($issue="")
			#end
			#if ($actionItem.getDueTo())
				#set($dueto=$actionItem.getDueTo())
			#else
				#set($dueto="")
			#end
<li>#if($!issue != "") <a href="$announceParameters.get("tickets.main.url")/ticket/$issue">$issue</a>#end ${action} #if($!dueto != "")Thanks to $dueto. #end</li>
			#set($issue="")
			#set($dueto="")
		#end
	#end
</ul>
	#if ($release.getActions('update').size() !=0)
<b>Changes:</b>
<ul>
		#foreach($actionItem in $release.getActions('update'))
			#set($action=$actionItem.getAction())
			#if ($actionItem.getIssue())
				#set($issue=$actionItem.getIssue())
			#else
				#set($issue="")
			#end
			#if ($actionItem.getDueTo())
				#set($dueto=$actionItem.getDueTo())
			#else
				#set($dueto="")
			#end
<li>#if($!issue != "") <a href="$announceParameters.get("tickets.main.url")/ticket/$issue">$issue</a>#end ${action} #if($!dueto != "")Thanks to $dueto. #end</li>

			#set($issue="")
			#set($dueto="")
		#end
	#end
</ul>
	#if ($release.getActions('remove').size() !=0)
<b>Removed:</b>
<ul>
		#foreach($actionItem in $release.getActions('remove'))
			#set($action=$actionItem.getAction())
			#if ($actionItem.getIssue())
				#set($issue=$actionItem.getIssue())
			#else
				#set($issue="")
			#end
			#if ($actionItem.getDueTo())
				#set($dueto=$actionItem.getDueTo())
			#else
				#set($dueto="")
			#end
<li>${action} #if($!issue != "") Issue: $issue. #end#if($!dueto != "")Thanks to $dueto. #end</li>

			#set($issue="")
			#set($dueto="")
		#end
	#end
</ul>
## End of main loop
#end                
                </font></td>
              </tr>              
              <tr>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="background-color:#607D8B; height:40px;">&nbsp;&nbsp;&nbsp;</td>
                    <td align="center" valign="middle" bgcolor="#607D8B"><a style="font-family:arial;font-size:14px;color:#FFFFFF;font-weight:bold;text-decoration:none" href="$announceParameters.get("releases.history.link")" target="_blank">Releases History</a></td>
                    <td style="background-color:#607D8B; height:40px;">&nbsp;&nbsp;&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
		<td width="30"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="30"></td>
  </tr>
  <tr>
    <td height="1" bgcolor="#000000"></td>
  </tr>
</table>
<!-- content no image END -->

<!-- content with button START -->

#set($isparent=$announceParameters.get("is.parent.pom"))
#if($isparent == "false" )
<table width="750" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="30"></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="650" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="30"></td>
        <td align="left" valign="top"><table width="590" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top"><table width="590" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="121" align="left" valign="top"><a href="" target="_blank"><img src="$announceParameters.get("images.server")/default-announcement-template-1.0.0-index.jpg" alt="" width="112" height="112" style="border:4px;border-color:#f0f1f2;border-style:solid"/></a></td>
			<td width="30"></td>
            <td align="left" valign="top"><table width="386" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="386"><font style="font-family:arial;font-size:24px;color:#000000;font-weight:bold">Readme File</font></td>
              </tr>
				<tr>
                <td align="left" valign="top"><font style="font-family:arial;font-size:14px;color:#000000;">You can also see the "readme" file for this version.</font></td>
              </tr>
              <tr>
                <td height="30"></td>
              </tr>
              <tr>
                <td><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="background-color:#607D8B; height:40px;">&nbsp;&nbsp;&nbsp;</td>
                    <td align="center" valign="middle" bgcolor="#607D8B"><a style="font-family:arial;font-size:14px;color:#FFFFFF;font-weight:bold;text-decoration:none" href="$announceParameters.get("readme.file.link")" target="_blank">Readme File</a></td>
                    <td style="background-color:#607D8B; height:40px;">&nbsp;&nbsp;&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
          </tr>
        </table></td>
		<td width="30"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="30"></td>
  </tr>
  <tr>
    <td height="1" bgcolor="#000000"></td>
  </tr>
</table>
#end

</body>
</html>
